<h1>Services</h1>

<% @services.each do |service| %>
  <div class="card-event">
    <img src="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg" />
    <div class="card-event-infos">
      <h2><%= service.name %></h2>
      <p><%= service.category %></p>
      <div class="card-event-pricing">
        <p><%= service.price %></p>
      </div>
    </div>
  </div>
<% end %>
