.container-profile {
  padding-top: 30px;
}

.profile-booked {
  background-color: rgb(204, 204, 204);
  border: solid 1px rgb(246, 246, 245);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  box-shadow: bisque;
  align-items: center;
  margin: 2px;
  border-radius: 14px;
}
.profile-booked p {
  margin: 0;
  padding: 0;
}

.i-booked {
  background-color: rgb(220, 214, 214);
  border: solid 1px rgb(245, 244, 239);
  padding: 16px;
  justify-content: space-between;
}
.i-booked p {
  margin: 0;
  padding: 0;
}
.title{
  color: rgba(190, 155, 102, 1);
  text-align: center;
}
.mini-title{
  color:rgb(153, 125, 118);
}
.accepted-offer{
  color: rgb(253, 252, 252);
}

.booking-title{
  color: rgb(255, 255, 255);
  padding: 16px;
}
.booked-title{
  color: rgb(255, 255, 255);
  padding: 16px;
}
.d-flex {
  align-items: baseline;
  justify-content: center;

}

.card {
  border-radius: 14px;
  margin: 10px;
  background-color: rgb(183, 169, 148);
}

#profile_background_image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 70vh;
}
