.container {
  display: flex;
}

.event {
  margin: 10px;
}

.reservation {
  margin: 10px;
}

.event h1 {
  text-decoration: underline;
}

h3 {
  font-weight: lighter;
  font-size: small;
}

h2 {
  font-size: 20px;
  font-weight:bolder
}

p {
  font-style: italic;
}
