.container {
  display: flex;
}

.event {
  margin: 10px;
  text-align: justify;
  width: fit-content;
}

.reservation {
  margin: 10px;
}

.event h3 {
  font-style: italic;
}

h3 {
  font-weight: lighter;
  font-size: small;
}

h2 {
  font-size: 20px;
  font-weight:bolder
}

p {
  font-style: italic;
  padding: 15px;
}
