.container-show{
  display: flex;
  justify-content: space-between
}

.container-new {
  display: block;
  padding: 30px;
}

.event {
  margin: 20px 10px;
  max-width: 60%;
  text-align: justify;
}

.event img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  width: 640px;
  border-radius: 5px;
}

.reservation {
  top: 150px;
  margin: 10px;
  position: sticky;
  height: 30vh;
}

.event h3 {
  font-style: italic;
}

h3 {
  font-weight: lighter;
  font-size: small;
}

h2 {
  font-size: 20px;
  font-weight: bolder
}

p {
  font-style: italic;
  padding: 15px;
}

h1 {
 text-align: left;
}
