.container-new-service {
  display: block;
  padding: 40px;
}

.golden-btn {
  border-radius: 5px;
  padding: 8px 16px;
  opacity: 0.8;
}

.golden-btn:hover {
  opacity: 1;
  transition: .2s;
  transform: scale(1.05);
}

#service_background_image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 45vh;
}
