  <div class="container">
    <div class="cards">
      <% @services.each do |service| %>
        <%= link_to service_path(service) do %>
        <div class="card-event">
          <img src="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg" />
          <div class="card-event-infos">
            <div>
            <h2> <%= service.name %><h2>
              <p class="text-ellipsis--2"><%= service.description %></p>
            </div>
            <h2 class="card-event-pricing"><%= service.price %></h2>
          </div>
        </div>
        <% end %>
      <%end %>
    </div>
  </div>
