  <div id="container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://winegeek.fr/wp-content/uploads/2013/05/gatsby_le_magnifique_dicaprio.jpg)";>
      <div class="banner-container">
        <h1>Make this night a night to remember!</h1>
        <p>Have a special moment with the celebrity you love</p>
        <a class="banner-button" href="/services">Choose now</a>
      </div>
    </div>
    <div class="cards">
      <% @services.each do |service| %>
        <%= link_to service_path(service) do %>
        <div class="card-event">

          <% if service.image.nil? %>
           <img src="https://images.unsplash.com/photo-1540039155733-5bb30b53aa14?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2148&q=80" />
          <% else %>
            <img src="<%= service.image %>" alt="">
          <% end %>

          <div class="card-event-infos">
            <h2 class="text-ellipsis"> <%= service.name %></h2>
            <h2 class="card-event-pricing"><%= service.price %> €</h2>
          </div>
        </div>
        <% end %>
      <%end %>
    </div>
  </div>
