  <div class="container">
    <div class="cards">
      <% @services.each do |service| %>
        <%= link_to service_path(service) do %>
        <div class="card-event">
          <img src="https://i0.wp.com/theb-stage.com/wp-content/uploads/2022/05/Beyonce-performs-onstage-in-2009.-Photo-by-Jason-LaVerisFilmMagic.png?zoom=2&resize=800%2C445&ssl=1" />
          <div class="card-event-infos">
            <div class ="text-ellipsis--2">
            <h2> <%= service.name %><h2>
              <p ><%= service.description %></p>
            </div>
            <h2 class="card-event-pricing"><%= service.price %>€</h2>
          </div>
        </div>
        <% end %>
      <%end %>
    </div>
  </div>
