  <div class="container">
    <div class="cards">
      <div class="card-event">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg" class="d-block w-100" alt="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg">
            </div>
            <div class="carousel-item">
              <img src="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg" class="d-block w-100" alt="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg">
            </div>
            <div class="carousel-item">
              <img src="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg" class="d-block w-100" alt="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>    
        <div class="card-event-infos">
          <div>
            <h2>Diner with Stephane Bern</h2>
            <p class="text-ellipsis--2">Diner in a secret restaurant with Stephane Bern</p>
          </div>
          <h2 class="card-event-pricing">£2.500</h2>
        </div>
      </div>

      <div class="card-event">
        <img src="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg" />
        <div class="card-event-infos">
          <div>
            <h2>Concert with Lady Gaga</h2>
            <p class="text-ellipsis--2">2 hours private concert with Lady Gaga2 hours private concert with Lady Gaga2 hours private concert with Lady Gaga2 hours private concert with Lady Gaga2 hours private concert with Lady Gaga2 hours private concert with Lady Gaga2 hours private concert with Lady Gaga2 hours private concert with Lady Gaga2 hours private concert with Lady Gaga2 hours private concert with Lady Gaga</p>
          </div>
           <h2 class="card-event-pricing">£1.000.000</h2>
        </div>
      </div>



        <div class="card-event">
          <img src="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg" />
          <div class="card-event-infos">
            <div>
             <h2>Fight 1v1 Z</h2>
             <p class="text-ellipsis--2">Fight until ko vs Z</p>
            </div>
          <h2 class="card-event-pricing">£1</h2>
        </div>
      </div>
  
          <div class="card-event">
            <img src="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg" />
            <div class="card-event-infos">
             <div>
              <h2>Concert with Lady Gaga</h2>
              <p class="text-ellipsis--2">2 hours private concert with Lady Gaga</p>
             </div>
              <h2 class="card-event-pricing">£1.000.000</h2>
             </div>
        </div>
 
          <div class="card-event">
            <img src="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg" />
            <div class="card-event-infos">
             <div>
              <h2>Concert with Lady Gaga</h2>
              <p class="text-ellipsis--2">2 hours private concert with Lady Gaga</p>
             </div>
              <h2 class="card-event-pricing">£1.000.000</h2>
             </div>
        </div>
 
          <div class="card-event">
            <img src="https://convention.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_77891/ap-paris-event-center-format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-jean-claude-guilloux/15920942-1-fre-FR/AP-Paris-Event-Center-Format-d%C3%AEner-de-gala-%7C-630x405-%7C-%C2%A9-Jean-Claude-Guilloux.jpg" />
            <div class="card-event-infos">
             <div>
              <h2>Concert with Lady Gaga</h2>
              <p class="text-ellipsis--2">2 hours private concert with Lady Gaga</p>
             </div>
              <h2 class="card-event-pricing">£1.000.000</h2>
             </div>
          </div>
    </div>
  </div>

</div>


