.cards {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card-event {
  height: 200px;
  padding-left: 0;
  border-radius: 10px;
  display: flex;
  font-size: 22px;
  color: black;
  font-weight: bolder;
  flex-direction: row;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
}

.card-event img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 200px;
  width: 200px;
  min-width: 200px;
  object-fit: cover;
}

.card-event-infos h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 3;
  text-align: center;
}

.card-event-infos h3 {
  font-size: 11px;
  font-weight: bold;
  opacity: .7;
  margin: 0;
}

.card-event-infos p {
  font-size: 11px;
  opacity: .7;
  margin: 0;
  padding-top: 3;
}

.card-event-infos {
  // height: 200px;
  // text-overflow: ellipsis;
  // padding-top: 22px;
  // padding-left: 6px;
  // padding-right: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  // text-align: justify;
}

.text-ellipsis {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.text-ellipsis--2 {
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

a {
  text-decoration: none;
}
