.card-event {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
}

.card-event > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-event h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-event p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-event .card-event-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-event-infos .card-event-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
