.navbar-lewagon {
  top: 0;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  z-index: 500;
  background: linear-gradient(180deg, #130431 0%, #433F70 99.44%), #D9D9D9;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
