.navbar-lewagon {
  top: 0;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  z-index: 500;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
